/*For more straightforward sizing in CSS, we switch the global box-sizing 
value from content-box to border-box. This ensures padding does not affect 
he final computed width of an element, but it can cause problems with some 
hird party software like Google Maps and Google Custom Search Engine.

On the rare occasion you need to override it, use something like the following:*/
/*.selector-for-some-widget {
  box-sizing: content-box;
}*/

header{
	border-bottom: 3px;
	border-bottom-style: ridge;
	border-bottom-color: #ffc045;
	background-color: #0a91ab;
}

.navbar{
	padding-left:2rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 2rem;
	padding-left: 2rem;
}

.img-rounded{
	border-radius: 50%;
}

.navbar-brand span{
	font-size: 25px;
	padding-left: 10px;
	font-weight: bold;
}

.main-child{
	display: flex;
	justify-content: space-between;
	padding-top: 7rem;
	margin: 0 10%;
}

#about .card{
	border: none;
}

#about .card h5{
	font-size: 200%;
}

#about .card-img-top{
	width: 70%;
}

/*^^^^^^^^^^^^^^^^^ CRANE */

#crane-anchor{
	position: relative;
	width: 75px;
	height: 25px;
	text-align: center;
	left: -50px;
	top: 50px;
}

#crane-anchor span{
	color: #0a91ab;
}

/* cable */

#cable{
	position: absolute;
}

#hook {
	font-family: "Rokkitt", sans-serif;
	font-size: 1.25em;
	left: 40px;
	position: absolute;
	top: -33px;
	transform: rotate(182deg) rotateY(223deg);
	color: #383e46;
}

.cable-line{
	position: absolute;
	background: none repeat scroll 0 0 #383e46;
	width: 0.5px;
}

#line1 {
	height: 15px;
	left: 44px;
	top: -37px;
}

#block-hook {
	position: absolute;
	height: 15px;
	width: 9px;
	background-color: #383e46;
	left: 40px;
	top: -44px;
}

#line2 {
	height: 25px;
	left: 47px;
	top: -68px;
}

#line2 {
	height: 25px;
	left: 47px;
	top: -68px;
}

#line3 {
	height: 25px;
	left: 42px;
	top: -68px;
}

#block-arm-hook{
	position: absolute;
	height: 28px;
	width: 25px;
	left: 33px;
	top: -95px;
	background-color: #383e46;
}

/* arm */

#arm div{
	position: absolute;
}

.arm-block{
	width: 0px;
	height: 0px;
	border-left: 12px solid #ffc045;
	border-right: 12px solid #ffc045;
	border-bottom: 12px solid #ffc045;
	border-top: 12px solid #ffc045;
}

#arm-block-end{
	top: -69px;
	left: 58px;
	border-left: 12px solid #ffc045;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #ffc045;
	border-top: 12px solid transparent;	
}

.arm-block div{
	border-left: 6px solid white;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	border-top: 6px solid transparent;
}

#arm .arm-block:nth-child(1){
	left: 34px;
	top: -69px;	
}

#arm .arm-block:nth-child(2){
	left: 10px;
	top: -69px;	
}

#arm .arm-block:nth-child(3){
	left: -14px;
	top: -69px;	
}

#arm .arm-block:nth-child(4){
	left: -38px;
	top: -69px;	
}

#arm .arm-block:nth-child(5){
	left: -62px;
	top: -69px;	
}

#arm .arm-block:nth-child(6){
	left: -86px;
	top: -69px;	
}

#arm .arm-block:nth-child(7){
	left: -110px;
	top: -69px;	
}

#arm .arm-block:nth-child(8){
	left: -134px;
	top: -69px;	
}

#arm .arm-block:nth-child(9){
	left: -158px;
	top: -69px;	
}

#arm .arm-block:nth-child(10){
	left: -182px;
	top: -69px;	
}

#arm .arm-block:nth-child(11){
	left: -206px;
	top: -69px;	
}

#arm .arm-block:nth-child(12){
	left: -230px;
	top: -69px;	
}

#arm .arm-block:nth-child(13){
	left: -254px;
	top: -69px;	
}

.bottom-white{
	top: 4px;
	left: -6px;
	transform: rotate(135deg) rotateY(0deg);
}

.left-white{
	top: -6px;
	left: -16px;
	transform: rotate(-135deg) rotateY(0deg);
}

.top-white{
	top: -16px;
	left: -6px;
	transform: rotate(-45deg) rotateY(0deg);
}

.right-white{
	top: -6px;
	left: 4px;
	transform: rotate(45deg) rotateY(0deg);
}

/*^^^^^^^^^^^^^^^^^ CRANE END */

#myCanvasContainer canvas{
	aspect-ratio: auto 300 / 300;
}

#education div{
	flex-basis: 80%;
}

#courses div{
	flex-basis: 80%;
}

#experience{
	margin-bottom: 50px;
}

#experience div{
	flex-basis: 80%;
}

.fa{
	padding: 10px 20px;
	color: #c1c1c1;
	border: 2px solid #e2e2e2;
	margin-right: 20px;
	border-radius: 0.25rem;
}

.facebook-link:hover{
	color: #16a6fb;
	border: 2px solid #16a6fb;
	box-shadow: 2px 2px 2px #16a6fb;
}

.github-link:hover{
	color: #000;
	border: 2px solid #000;
	box-shadow: 2px 2px 2px #000;
}

.linkedin-link:hover{
	color: #0a66c1;
	border: 2px solid #0a66c1;
	box-shadow: 2px 2px 2px #0a66c1;
}

.card{
	border-radius: 0.25rem;
	border: 2px solid #e2e2e2;
	box-shadow: 2px 2px 2px #e2e2e2;
}

#about .card{
	box-shadow: none;
}

/*.card:hover{
	border: 2px solid #0a91ab;
	box-shadow: 2px 2px 2px #0a91ab;	
}*/

/*#courses .card:hover h5{
	color: #0a91ab;
}

#courses .card:hover p{
	color: #0a91ab;
}

#courses .card:hover .card-header:first-child{
	background-color: #bcd4ff;
}*/

.button{
	background-color: #fff;
	border: 2px solid #e2e2e2;
	border-radius: 0.25rem;
	color: #c1c1c1;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button:hover{
	color: #0a91ab;
	border: 2px solid #0a91ab;
	box-shadow: 2px 2px 2px #0a91ab;
	text-decoration: none;
	font-weight: bold;
}
